body 
{
	margin-top: 0;
	margin: auto;
	width:1024px;
	font-family: helvetica, georgia, times;
}
.topbar
{
	margin-top: 0;
	border: 0;
	height: 48px;
	background-color: #414A4C;
	padding-left: 50px;
}

.topbar .home 
{
	display: inline;
	height: 100%;
}

.topbar .logo 
{
	background-image: url('resources/logo.ico');
	width: 48px;
	height: 100%;
	float: left;
}

.topbar .brand 
{
	display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 10px;
}

.topbar .find 
{
	display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 50px;
}

.topbar .sell 
{
	display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 50px;
}

.topbar .about 
{
	display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 50px;
}

.topbar .bugs 
{
	display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 50px;
}

.topbar .searchfield
{
	display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 50px;
	border-radius: 3px;
	padding-left: 2px;
}

.topbar .user 
{
	display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 50px;
}

.topbar .edit 
{
	display: inline;
	background-image: url('resources/edit.png');
	width: 26px;
	height: 26px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.banner 
{
	height: 446px;
	background-image: url('resources/img/baggrund.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}