.clearfix
{
	clear: both;
}

input
{
	padding: 0px;
}

button
{
	border: none;
	cursor: pointer;
	padding: 0px;
}

textarea
{
	resize: none;
	padding: 0px;
}

.hide
{
	display: none;
}

.topbar .site:hover
{
	cursor: pointer;
}